<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

## Imports

Import any additional libraries you may need here.

In [33]:
import glob
import pandas as pd
import requests
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [34]:
url_1 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json"
url_2 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json"
# https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

Get request

In [44]:
json_1 = requests.get(url_1).text
json_2 = requests.get(url_2).text

# merge into list
list_json =[json_1, json_2]
# print(list_json)

## Extract

### JSON Extract Function

This function will extract JSON files.

In [50]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [51]:
columns=['Name','Market Cap (US$ Billion)']

In [53]:
def extract():
    # Write your code here
    df = pd.DataFrame(columns = columns)
    for json_file in list_json:
        df = df.append(extract_from_json(json_file))
    return df

extract().head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [65]:
# Write your code here
df_exchange = pd.read_csv("./final_csv/exchange_rates.csv")

df_exchange.rename(columns={'Unnamed: 0':'Pounds'}, inplace=True)

# get df with Pounds = GBP
df_GBP = df_exchange.loc[df_exchange["Pounds"]=="GBP"]

# store the rate
exchange_rate = df_GBP.iloc[0,1]

print(exchange_rate)

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [69]:
def transform(df):
    # convert money
    df["Market Cap (US$ Billion)"] =round(df["Market Cap (US$ Billion)"] * exchange_rate,2)
    
    #rename columns
    df.rename(columns={"Market Cap (US$ Billion)":"Market Cap (GBP$ Billion)"}, inplace=True)
    return df;

transform(extract())

                                       Name  Market Cap (GBP$ Billion)
0                            JPMorgan Chase                     286.32
1   Industrial and Commercial Bank of China                     252.83
2                           Bank of America                     238.27
3                               Wells Fargo                     225.59
4                   China Construction Bank                     188.52
..                                      ...                        ...
65                             Ping An Bank                      27.83
66                       Standard Chartered                      27.33
67                     United Overseas Bank                      25.73
68                                QNB Group                      24.58
69                              Bank Rakyat                      24.23

[105 rows x 2 columns]

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [77]:
def load(df, csv_location):
    df.to_csv(csv_location, index = False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [70]:
def log(message):
    # Write your code here
    timestamp_format='%Y-%h-%d-%H%M%S'
    now=datetime.now()
    timestamp=now.strftime(timestamp_format)
    with open("./TextFolder/logfile.txt","a") as f:
        f.write(timestamp+','+message+'\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [71]:
# Write your code here
log("ETL Job Started")

log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [72]:
# Call the function here
data_extracted = extract()
# Print the rows here
data_extracted.head(5)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [ ]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [73]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [74]:
# Call the function here
data_transformed = transform(data_extracted)
# Print the first 5 rows here
data_transformed.head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                     286.32
1  Industrial and Commercial Bank of China                     252.83
2                          Bank of America                     238.27
3                              Wells Fargo                     225.59
4                  China Construction Bank                     188.52

Log your data <code>"Transform phase Ended"</code>

In [ ]:
# Write your code here
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [75]:
# Write your code here
log("Load phase Started")

Call the load function

In [78]:
# Write your code here
load(data_transformed, "./final_csv/bank_market_cap_gbp.csv")

Log the following `"Load phase Ended"`.

In [79]:
# Write your code here
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).