# Webscraping and ETL

## Import

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

get data

In [2]:
url ="https://en.wikipedia.org/wiki/List_of_largest_banks"

html_data = requests.get(url).text
# print(html_data)

using beautifulSoup

## 1. Extract

In [3]:
soup = BeautifulSoup(html_data,"html.parser")
# print(soup.prettify())
data = pd.DataFrame(columns=["Name","Market Cap ($US Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    if(col !=[]):
        name = col[1].text.strip()
        market_cap = col[2].text.strip()
        data = data.append({"Name": name, "Market Cap ($US Billion)":market_cap}, ignore_index=True)
        
data.head()

                                      Name Market Cap ($US Billion)
0                           JPMorgan Chase                   368.78
1  Industrial and Commercial Bank of China                   295.65
2                          Bank of America                   279.73
3                              Wells Fargo                   214.34
4                  China Construction Bank                   207.98

# Extract API Data

## 1. Call api

In [6]:
url_api ="http://api.exchangeratesapi.io/v1/latest?access_key=225420123fdfe8d2d47ba3d063b61fe3"

json_txt = requests.get(url_api).text

# print(json_txt)

## 2. Save as DataFrame

In [24]:
df_api = pd.read_json(json_txt)
df_api.head()

     success           timestamp base       date       rates
AED     True 2022-03-18 07:43:03  EUR 2022-03-18    4.067407
AFN     True 2022-03-18 07:43:03  EUR 2022-03-18   97.343947
ALL     True 2022-03-18 07:43:03  EUR 2022-03-18  122.733840
AMD     True 2022-03-18 07:43:03  EUR 2022-03-18  539.710864
ANG     True 2022-03-18 07:43:03  EUR 2022-03-18    1.989187

Drop unnescessary columns

In [26]:
df_api = df_api[["rates"]][0:10]
df_api

          rates
AED    4.067407
AFN   97.343947
ALL  122.733840
AMD  539.710864
ANG    1.989187
AOA  504.426886
ARS  121.285823
AUD    1.498158
AWG    1.993545
AZN    1.887476

## 3.Load the Data

In [28]:
df_api.to_csv("./final_csv/exchange_rates_1.csv")