# Web scraping

## 1. Import Beautiful Soup

In [1]:
from bs4 import BeautifulSoup

In [4]:
## html table
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

Get Html page

In [10]:
table = BeautifulSoup(table, "html.parser")

# print(table.prettify())

find all

In [12]:
table_rows = table.find_all('tr')
# print(table_rows)

In [13]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>

## 2.Beautiful Soup + Requests

In [17]:
import pandas as pd
#import request
import requests

In [18]:
url = "https://en.wikipedia.org/wiki/World_population"

In [23]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

# print(data)

In [22]:
soup = BeautifulSoup(data, "html.parser")

# print(soup.prettify())

In [24]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>
print(table)

<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>

In [25]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[1].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

,Rank,Country,Population,Area,Density
0,Asia\n,104.1\n,"4,641","1,411,778,000[note 1] – China","37,400,000/13,515,000 – Greater Tokyo Area/To..."
1,Africa\n,44.4\n,"1,340","0211,401,000 – Nigeria","20,076,000/9,500,000 – Greater Cairo/Cairo"
2,Europe\n,73.4\n,747,"0146,171,000 – Russia;approx. 110 million in ...","20,004,000/13,200,000 – Moscow metropolitan a..."
3,Latin America\n,24.1\n,653,"0214,103,000 – Brazil","21,650,000/12,252,000 – São Paulo Metro Area/..."
4,Northern America[note 2]\n,14.9\n,368,"0332,909,000 – United States","18,819,000/8,804,000 – New York metropolitan ..."
5,Oceania\n,5\n,42,"0025,917,000 – Australia","5,367,000 – Sydney"
6,Antarctica\n,~0\n,0.004[17],N/A[note 3],"1,258 – McMurdo Station"

## 3. Pandas read HTML

In [33]:
df = pd.read_html(str(tables[2]), flavor='bs4')[0]
df

  World population milestones in billions (Worldometers estimates)        \
                                                        Population     1
0                                               Year                1804
1                                      Years elapsed                   —


      2     3     4     5     6     7     8     9    10
0  1927  1960  1974  1987  1999  2011  2023  2037  2056
1   123    33    14    13    12    12    12    14    19