# List
- mutable object

In [ ]:
print("hello")

 1. Creating list

In [18]:
#creating a list
list = [1,2,3,4,5]

# size of the list
print(len(list))
print(type(list))

5
<class 'list'>

 2. Append & insert

In [3]:
# adding elements to a list
list.append(0)
print(list)

# insert(position, value)
list.insert(1,7)
print(list)

[1, 2, 3, 4, 5, 0, 0]
[1, 7, 2, 3, 4, 5, 0, 0]

 3. Add and Slicing

In [6]:
# add multiple elements in a list at the end
list.extend([10,9])

# slicing
# [a:b] a<= index <b
print(list[1:4])

[7, 2, 3]

4. Other methods

In [15]:
# other methods
max(list)
min(list)
list.sort()

# remove one element in list
# list.remove(10)
print(list)

#count appearance of element
print("số 9 xuất hiện :",list.count(9))

# remove all the elemet in list
# list.clear()

[1, 2, 3, 4, 5, 7, 9, 9, 9]
số 9 xuất hiện : 3

# Tuple
- immutable object, cannot be changed, can not be added

1. Creating tuple

In [ ]:
# creating empy tuple
empty_tuple = ()

In [19]:
# type of tuple
tuple1 = ('Hello', 'World')
print(tuple1)
print(type(tuple1))

# nesting of tuples
tuple2=((0,1,2,3), ['Hello'], 'world')
print(tuple2)

('Hello', 'World')
<class 'tuple'>
((0, 1, 2, 3), ['Hello'], 'world')

2. Slicing in tuples

In [23]:
tuple3=(0,1,2,3)
# print index 1 to the last element
print(tuple3[1:])

# print index 0 to index 1
print(tuple3[:2])

# print the first to the last
print(tuple3[:])

# print the first to the last with the step of i
# tuple3[::i]

(1, 2, 3)
(0, 1)
(0, 1, 2, 3)

 3. Delete

In [ ]:
del tuple1

# Dictionary
- with have key-value

 1. Create dictionary

In [32]:
dict ={
    "name": "hello",
    1: "aloo"
}
print(dict)

# nested dict
nest_dict ={
    "name":{
        "age": 18,
        1: "one"
    },
    1: "allo"
}
print(nest_dict)

{'name': 'hello', 1: 'aloo'}
{'name': {'age': 18, 1: 'one'}, 1: 'allo'}

2. Access elements from Dictionary

In [35]:
# get the value of key
print(dict['name'])
print(dict.get('name'))

# get the value of nested dict
print(nest_dict['name']['age'])

hello
hello
18

3. Change values

In [40]:
dict['name'] ='Hello'
print(dict)

dict.update({"name": "ko"})
print(dict)

{'name': 'Hello', 1: 'aloo'}
{'name': 'ko', 1: 'aloo'}

 4. Add items

In [43]:
dict['age'] = 20
print(dict)

dict.update({"color": "red"})
print(dict)

{'name': 'ko', 1: 'aloo', 'age': 20, 'color': 'red'}
{'name': 'ko', 1: 'aloo', 'age': 20, 'color': 'red'}

5. Remove item

In [ ]:
# remove specified with key name
# dict.pop("keyname")
# del dic["keyname"]


# remove the last key
# dict.popitem()

 6. Other methods

In [44]:
# print all keys
print(dict.keys())

# copy dict
copy_dict = dict.copy()
print(copy_dict)

dict_keys(['name', 1, 'age', 'color'])
{'name': 'ko', 1: 'aloo', 'age': 20, 'color': 'red'}

# Sets
- store multiple items in a single variable
- unordered (cannot be reffered by index or key)
- unchangeable
- do not aloww duplicate values

1. Creating sets

In [ ]:
sets_list ={"apple", "banana", "cherry"}

2. Access

In [49]:

print("banana" in sets_list)

for x in sets_list:
    print(x)

True
banana
apple
cherry

3. Add items

In [53]:
sets_list.add("orange")
print(sets_list)

{1, '1', 'apple', 'banana', 'orange', 'cherry'}

4. Remove item

In [56]:
# sets_list.remove(1)
print(sets_list)

sets_list.discard("1")
print(sets_list)

{'1', 'apple', 'banana', 'orange', 'cherry'}
{'apple', 'banana', 'orange', 'cherry'}