In [1]:
import psycopg2

In [2]:
try:
    conn = psycopg2.connect(dbname = "mytable", user="postgres", password="123456")
    conn.set_session(autocommit=True)
except psycopg2.Error as e:
    print(e)

In [6]:
try:
    cur= conn.cursor()
except psycopg2.Error as e:
    print(e)

### Creating table

In [7]:
# create table sales
# column 0: transaction id
# column 1: amount spent

In [11]:
try:
    cur.execute('''
        CREATE TABLE IF NOT EXISTS sales(
            transaction_id INTEGER PRIMARY KEY,
            amount INTEGER
        )
    ''')
except psycopg2.Error as e:
    print(e)

### Insert values

In [12]:
try:
    cur.execute('''
        INSERT INTO sales(transaction_id, amount)
        VALUES
        (1, 49),
        (2,19),
        (3,45)
    ''')
except psycopg2.Error as e:
    print(e)

### Show table

In [17]:
try:
    cur.execute('SELECT * FROM transactions_2')
except psycopg2.Error as e:
    print(e)
print("Transaction table")
for i in cur.fetchall():
    print(i)
    
    
try:
    cur.execute('SELECT * FROM album_sold')
except psycopg2.Error as e:
    print(e)
print("\nAlbum Sold table")
for i in cur.fetchall():
    print(i)
    
    
try:
    cur.execute('SELECT * FROM cashier')
except psycopg2.Error as e:
    print(e)
print("\nCashier table")
for i in cur.fetchall():
    print(i)
    
    
try:
    cur.execute('SELECT * FROM sales')
except psycopg2.Error as e:
    print(e)
print("\nSales table")
for i in cur.fetchall():
    print(i)

Transaction table
(1, 'Amanda', 1, 2000)
(2, 'Toby', 1, 2000)
(3, 'Max', 2, 2018)

Album Sold table
(1, 1, 'Rubber Soul')
(2, 1, 'Let it Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

Cashier table
(1, 'Sam')
(2, 'Bob')

Sales table
(1, 49)
(2, 19)
(3, 45)

### Denormalized

In [22]:
# create new table transaction
try:
    cur.execute('''
        CREATE TABLE IF NOT EXISTS transactions_3(
            transaction_id INTEGER PRIMARY KEY,
            customer_name VARCHAR(50),
            cashier_id INTEGER,
            year INTEGER,
            amount_spent INTEGER
        )
    ''')
except psycopg2.Error as e:
    print(e)

# insert values
try: 
    cur.execute('''
        INSERT INTO transactions_3(transaction_id, customer_name, cashier_id, year, amount_spent)
        VALUES
        (1, 'Amanda',1,2000,49),
        (2, 'Toby', 1, 2000, 19),
        (3, 'Max', 2, 2018, 45)
    ''')
except psycopg2.Error as e:
    print(e)

    
# show table
try:
    cur.execute('SELECT * FROM transactions_3')
except psycopg2.Error as e:
    print(e)

for i in cur.fetchall():
    print(i)

duplicate key value violates unique constraint "transactions_3_pkey"
DETAIL:  Key (transaction_id)=(1) already exists.

(1, 'Amanda', 1, 2000, 49)
(2, 'Toby', 1, 2000, 19)
(3, 'Max', 2, 2018, 45)

### Creating cashier_sales

In [32]:
# create table
try:
    cur.execute('''
        CREATE TABLE IF NOT EXISTS cashier_sales(
        transaction_id INTEGER PRIMARY KEY,
        cashier_name VARCHAR(50),
        cashier_id INTEGER,
        amount_spent INTEGER
        )
    ''')
except psycopg2.Error as e:
    print(e)

#insert values
try:
    cur.execute('''
        INSERT INTO cashier_sales(transaction_id, cashier_name,cashier_id, amount_spent)
        VALUES
        (1, 'Sam', 1, 40),
        (2, 'Sam', 1, 19),
        (3, 'Max', 2, 45);
    ''')
except psycopg2.Error as e:
    print(e)

# show table
try:
    cur.execute("SELECT * FROM cashier_sales")
except psycopg2.Error as e:
    print(e)

for i in cur.fetchall():
    print(i)

duplicate key value violates unique constraint "cashier_sales_pkey"
DETAIL:  Key (transaction_id)=(1) already exists.

(1, 'Sam', 1, 40)
(2, 'Sam', 1, 19)
(3, 'Max', 2, 45)

In [36]:
try:
    cur.execute('SELECT cashier_name, SUM(amount_spent) FROM cashier_sales GROUP BY cashier_name')
except psycopg2.Error as e:
    print(e)

for i in cur.fetchall():
    print(i)

('Max', 45)
('Sam', 59)