### Connect to Mysql

In [1]:
import mysql.connector
import pandas as pd

### local database

In [2]:
host_name ="localhost"
user_name = "root"
password = "123456"
database_name ="testdatabase"

In [3]:
# connect to db function
def connect_db(host_name, user_name, password, database_name):
    try:
            conn = mysql.connector.connect(
                host = host_name,
                user = user_name,
                password = password,
                database = database_name
            )
    except: 
        print("Something went wrong")
    else:
        print("Connected")
        return conn

# call function
conn = connect_db(host_name, user_name, password, database_name)

Connected

### Create table

In [4]:
def create_table(mycursor):
    create_table_command = """CREATE TABLE chicago(
        ca SMALLINT,
        community_area VARCHAR(50) NOT NULL,
        percent_of_housing_crowded FLOAT NOT NULL,
        percent_households_below_poverty FLOAT NOT NULL,
        percent_aged_16_unemployed FLOAT NOT NULL,
        percent_aged_25_without_high_school_diploma FLOAT NOT NULL,
        percent_aged_under_18_or_over_64 FLOAT NOT NULL,
        per_capita_income INTEGER NOT NULL,
        hardship_index SMALLINT
        
    )"""
    mycursor.execute(create_table_command)

### read csv file

In [5]:
chicago_data = pd.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
chicago_data = chicago_data.dropna()

chicago_data.head()

,ca,community_area_name,percent_of_housing_crowded,percent_households_below_poverty,percent_aged_16_unemployed,percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64,per_capita_income_,hardship_index
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

### Make cursor

In [6]:
# cursor() method, which returns a new cursor object using the connection
mycursor = conn.cursor()
try:
    create_table(mycursor)
except :
    print("Table have already existed")

# commit 
# which is used to commit any pending transaction to database
conn.commit()

### Load dataframe to database

In [7]:
# for index, row in chicago_data.iterrows():
#         mycursor.execute("""
#      INSERT INTO chicago
#      (ca,community_area,percent_of_housing_crowded, 
#      percent_households_below_poverty,  percent_aged_16_unemployed,
#      percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64,
#      per_capita_income, hardship_index) 
#      VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)
#      """,(row.ca, row.community_area_name,row.percent_of_housing_crowded, row.percent_households_below_poverty,
#          row.percent_aged_16_unemployed,row.percent_aged_25_without_high_school_diploma,
#          row.percent_aged_under_18_or_over_64, row.per_capita_income_, row.hardship_index)
#     )
# conn.commit()