In [1]:
import findspark
findspark.init()
import pyspark
findspark.find()

'D:\\Spark\\spark-3.2.1-bin-hadoop3.2'

# Date and Timestamps

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('dates').getOrCreate()

In [5]:
df = spark.read.csv('./doc/Spark_DataFrames/appl_stock.csv', header= True, inferSchema=True)

In [7]:
df.head(1)

[Row(Date='2010-01-04', Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039)]

In [8]:
df.select(['Date', 'Open']).show()

+----------+------------------+
|      Date|              Open|
+----------+------------------+
|2010-01-04|        213.429998|
|2010-01-05|        214.599998|
|2010-01-06|        214.379993|
|2010-01-07|            211.75|
|2010-01-08|        210.299994|
|2010-01-11|212.79999700000002|
|2010-01-12|209.18999499999998|
|2010-01-13|        207.870005|
|2010-01-14|210.11000299999998|
|2010-01-15|210.92999500000002|
|2010-01-19|        208.330002|
|2010-01-20|        214.910006|
|2010-01-21|        212.079994|
|2010-01-22|206.78000600000001|
|2010-01-25|202.51000200000001|
|2010-01-26|205.95000100000001|
|2010-01-27|        206.849995|
|2010-01-28|        204.930004|
|2010-01-29|        201.079996|
|2010-02-01|192.36999699999998|
+----------+------------------+
only showing top 20 rows

### Extract date & time

In [11]:
from pyspark.sql.functions import(dayofmonth, hour, dayofyear,month, year,
                                 weekofyear, format_number, date_format)

#### Month

In [13]:
df.select(dayofmonth(df['Date'])).show()

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
|              19|
|              20|
|              21|
|              22|
|              25|
|              26|
|              27|
|              28|
|              29|
|               1|
+----------------+
only showing top 20 rows

### Extract time

In [14]:
newdf = df.withColumn("Year", year(df['Date']))

In [15]:
result = newdf.groupBy('Year').mean().select(['Year', 'avg(Close)'])

In [16]:
result.show()

+----+------------------+
|Year|        avg(Close)|
+----+------------------+
|2015|120.03999980555547|
|2013| 472.6348802857143|
|2014| 295.4023416507935|
|2012| 576.0497195640002|
|2016|104.60400786904763|
|2010| 259.8424600000002|
|2011|364.00432532142867|
+----+------------------+

In [18]:
new= result.withColumnRenamed('avg(Close)', 'Average per Closing')

In [19]:
new.show()

+----+-------------------+
|Year|Average per Closing|
+----+-------------------+
|2015| 120.03999980555547|
|2013|  472.6348802857143|
|2014|  295.4023416507935|
|2012|  576.0497195640002|
|2016| 104.60400786904763|
|2010|  259.8424600000002|
|2011| 364.00432532142867|
+----+-------------------+

In [20]:
new.select(['Year', format_number('Average per Closing',2).alias('Average')]).show()

+----+-------+
|Year|Average|
+----+-------+
|2015| 120.04|
|2013| 472.63|
|2014| 295.40|
|2012| 576.05|
|2016| 104.60|
|2010| 259.84|
|2011| 364.00|
+----+-------+