### Import library

In [66]:
!pip install psycopg2
import psycopg2

Requirement already satisfied: psycopg2 in c:\users\tien le pham\anaconda3\lib\site-packages (2.9.3)

### Creating connection

In [67]:
try:
    conn = psycopg2.connect(dbname="mytable", user="postgres", password = "123456")
except psycopg2.Error as e:
    print(e)

### Create cursor

In [68]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print(e)
conn.set_session(autocommit=True)

### Creating table

In [75]:
try: 
    cur.execute('''
        CREATE TABLE IF NOT EXISTS music_store(
                transaction_id INTEGER,
                customer_name VARCHAR(50),
                cashier_name VARCHAR(50),
                year INTEGER,
                album_purchased TEXT[]
        );
    ''')
except psycopg2.Error as e:
    print(e)

### Insert value to table

In [91]:
try:
    cur.execute('''
        INSERT INTO music_store(transaction_id, customer_name, cashier_name, year, album_purchased)
        VALUES (%s, %s, %s, %s, %s)''',
        (1, 'Amanda', 'Sam', 2000, ['Rubber Soul', 'Let it Be'])
    )
except psycopg2.Error as e:
    print(e)

In [95]:
try:
    cur.execute('''
        INSERT INTO music_store(transaction_id, customer_name, cashier_name, year, album_purchased)
        VALUES (%s, %s, %s, %s, %s)''', 
        (2, 'Toby', 'Sam', 2000, ['My Generation'])
    )
except psycopg2.Error as e:
    print(e)

In [96]:
try:
    cur.execute('''
        INSERT INTO music_store(transaction_id, customer_name, cashier_name, year, album_purchased)
        VALUES (%s, %s, %s, %s, %s)''', 
        (3, 'Max', 'Bob', 2018, ['Meet the Beatles', 'Help!'])
    )
except psycopg2.Error as e:
    print(e)

### Moving to 1st Normal Form (1NF)

#### TO-DO: This data has not been normalized. To get this data into 1st normal form, you need to remove any collections or list of data and break up the list of songs into individual rows.

In [104]:
## TO-DO: Complete the CREATE table statements and INSERT statements

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS music_store2 (transaction_id int, customer_name varchar, cashier_name varchar,\
                                                            year int, albums_purchased varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name, year, albums_purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1, "Amanda", "Sam", 2000, 'Rubber Soul'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name, year, albums_purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1, "Amanda", "Sam", 2000, 'Let it Be'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name, year, albums_purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2, 'Toby', 'Sam', 2000, 'My Generation'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name, year, albums_purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, 'Max', 'Bob', 2018, 'Meet the Beatles'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name, year, albums_purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, 'Max', 'Bob', 2018, 'Help!'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

### Show table

In [106]:
try: 
    cur.execute("SELECT * FROM music_store2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
for i in cur.fetchall():
    print(i)

(1, 'Amanda', 'Sam', 2000, 'Rubber Soul')
(1, 'Amanda', 'Sam', 2000, 'Let it Be')
(2, 'Toby', 'Sam', 2000, 'My Generation')
(3, 'Max', 'Bob', 2018, 'Meet the Beatles')
(3, 'Max', 'Bob', 2018, 'Help!')

### Moving to 2nd Normal Form (2NF)

#### TO-DO: Break up the table into two tables, transactions and albums sold

In [112]:
try:
    cur.execute('''
        CREATE TABLE IF NOT EXISTS transactions(
            transaction_id INTEGER PRIMARY KEY,
            customer_name VARCHAR(50),
            cashier_name VARCHAR(50),
            year INTEGER
        ) 
    ''')
except psycopg2.Error as e:
    print(e)

In [116]:
try:
    cur.execute('''
        CREATE TABLE IF NOT EXISTS album_sold(
            unit_id INTEGER PRIMARY KEY,
            transaction_id INTEGER,
            album_purchased VARCHAR(50)
        ) 
    ''')
except psycopg2.Error as e:
    print(e)

### Insert value to table

In [119]:
try:
    cur.execute('''
        INSERT INTO transactions(transaction_id, customer_name, cashier_name, year)
        VALUES  (1, 'Amanda', 'Sam', 2000),
                (2, 'Toby', 'Sam', 2000),
                (3, 'Max', 'Bob', 2018);
    ''')
except psycopg2.Error as e:
    print(e)

In [121]:
try:
    cur.execute('''
        INSERT INTO album_sold(unit_id, transaction_id, album_purchased)
        VALUES (1, 1, 'Rubber Soul'),
                (2, 1, 'Let it Be'),
                (3, 2, 'My Generation'),
                (4, 3,'Meet the Beatles'),
                (5, 3,  'Help!')
    ''')
except psycopg2.Error as e:
    print(e)

### Show table

In [125]:
try:
    cur.execute("SELECT * FROM transactions")
except psycopg2.Error as e:
    print(e)
    
print('Transactions table')
for i in cur.fetchall():
    print(i)

try:
    cur.execute("SELECT * FROM album_sold")
except psycopg2.Error as e:
    print(e)

print("\nAlbum Sold table")
for i in cur.fetchall():
    print(i)

Transactions table
(1, 'Amanda', 'Sam', 2000)
(2, 'Toby', 'Sam', 2000)
(3, 'Max', 'Bob', 2018)

Album Sold table
(1, 1, 'Rubber Soul')
(2, 1, 'Let it Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

### Join two table

In [128]:
try:
    cur.execute('''
        SELECT * FROM transactions
        INNER JOIN album_sold
        ON album_sold.transaction_id = transactions.transaction_id
    ''')
except psycopg2.Error as e:
    print(e)

for i in cur.fetchall():
    print(i)

(1, 'Amanda', 'Sam', 2000, 1, 1, 'Rubber Soul')
(1, 'Amanda', 'Sam', 2000, 2, 1, 'Let it Be')
(2, 'Toby', 'Sam', 2000, 3, 2, 'My Generation')
(3, 'Max', 'Bob', 2018, 4, 3, 'Meet the Beatles')
(3, 'Max', 'Bob', 2018, 5, 3, 'Help!')

### Moving to 3rd Normal Form (3NF)

#### Three table: transactions2, employess, album_sold

In [138]:
try:
    cur.execute('''
        CREATE TABLE IF NOT EXISTS transactions_2(
            transaction_id INTEGER PRIMARY KEY,
            customer_name VARCHAR(50),
            cashier_id INTEGER,
            year INTEGER
        )
    ''')
except psycopg2.Error as e:
    print(e)

In [139]:
try: 
    cur.execute('''
        CREATE TABLE IF NOT EXISTS cashier(
            cashier_id INTEGER PRIMARY KEY,
            cashier_name VARCHAR(50)
        )
    ''')
except psycopg2.Error as e:
    print(e)

### Insert values

In [142]:
try:
    cur.execute('''
        INSERT INTO transactions_2(transaction_id, customer_name, cashier_id, year)
        VALUES 
        (1, 'Amanda', 1, 2000),
        (2, 'Toby', 1, 2000),
        (3, 'Max', 2, 2018)
    ''')
except psycopg2.Error as e:
    print(e)

try:
    cur.execute('''
        INSERT INTO cashier (cashier_id, cashier_name)
        VALUES
        (1, 'Sam'),
        (2, 'Bob')
    ''')
except psycopg2.Error as e:
    print(e)

### Show table

In [143]:
try:
    cur.execute("SELECT * FROM transactions_2")
except psycopg2.Error as e:
    print(e)

print("Transactions table")
for i in cur.fetchall():
    print(i)
    
try:
    cur.execute("SELECT * FROM album_sold")
except psycopg2.Error as e:
    print(e)

print("\nAlbum Sold table")
for i in cur.fetchall():
    print(i)

    
try:
    cur.execute("SELECT * FROM cashier")
except psycopg2.Error as e:
    print(e)

print("\nCashiertable")
for i in cur.fetchall():
    print(i)

Transactions table
(1, 'Amanda', 1, 2000)
(2, 'Toby', 1, 2000)
(3, 'Max', 2, 2018)

Album Sold table
(1, 1, 'Rubber Soul')
(2, 1, 'Let it Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

Cashiertable
(1, 'Sam')
(2, 'Bob')

### Join three tables

In [145]:
try:
    cur.execute('''
        SELECT * FROM transactions_2
        INNER JOIN cashier
        ON cashier.cashier_id = transactions_2.cashier_id
        INNER JOIN album_sold
        ON album_sold.transaction_id = transactions_2.transaction_id
    ''')
except psycopg2.Error as e:
    print(e)

for i in cur.fetchall():
    print(i)

(1, 'Amanda', 1, 2000, 1, 'Sam', 1, 1, 'Rubber Soul')
(1, 'Amanda', 1, 2000, 1, 'Sam', 2, 1, 'Let it Be')
(2, 'Toby', 1, 2000, 1, 'Sam', 3, 2, 'My Generation')
(3, 'Max', 2, 2018, 2, 'Bob', 4, 3, 'Meet the Beatles')
(3, 'Max', 2, 2018, 2, 'Bob', 5, 3, 'Help!')

### Finally close

In [146]:
cur.close()
conn.close()