# Spark DataFrame Basics

### 1. Starting Point: SparkSession

In [14]:
import findspark
# findspark.init('D:/Spark/spark-3.2.1-bin-hadoop3.2')
findspark.init()
import pyspark
findspark.find()

'D:\\Spark\\spark-3.2.1-bin-hadoop3.2'

In [15]:
from pyspark.sql import SparkSession

In [16]:
# from pyspark import SparkContext, SparkConf
# conf = pyspark.SparkConf().set('spark.driver.host','127.0.0.1')
# sc = pyspark.SparkContext(master='local', appName='myAppName',conf=conf)

In [17]:
spark = SparkSession.builder.getOrCreate()

### 2.Creating DataFrame

In [18]:
df = spark.sql('''select 'spark' as hello''')
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

#### Read json file

In [24]:
df = spark.read.json('doc/Spark_DataFrames/people.json')
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

#### Get all columns title

In [26]:
df.columns

['age', 'name']

In [29]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

#### Change the data type of columns

In [32]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [33]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [37]:
final_struct = StructType(fields = data_schema)

In [38]:
df = spark.read.json('doc/Spark_DataFrames/people.json', schema=final_struct)

In [39]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

#### Get columns

In [40]:
df['age']

Column<'age'>

In [41]:
type(df['age'])

pyspark.sql.column.Column

In [43]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [48]:
# get the row 0
df.head(2)[0]

Row(age=None, name='Michael')

In [49]:
# select the list of columns
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

#### Create new column

In [53]:
df.withColumn('year', 2022-df['age']).show()

+----+-------+----+
| age|   name|year|
+----+-------+----+
|null|Michael|null|
|  30|   Andy|1992|
|  19| Justin|2003|
+----+-------+----+

#### Rename columns

In [54]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

#### SQL

In [55]:
df.createOrReplaceTempView('people')

In [56]:
results = spark.sql('SELECT * FROM people')

In [57]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+